version: "3.8"
services:
  postgres-db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: boq_admin
      POSTGRES_PASSWORD: boq_admin_pass
      POSTGRES_DB: boq
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
